#navbar{
    background-color:#FF9800;
    border-color:#FF9800
}

h1{
    font-size: 33px !important;
    font-weight: 400 !important;
}

#orange_links{
    color:orange !important;
}
#row_breaks{
     border:0.5px solid #dbcbcb;
}

#fgrey{
    background-color: #F1F1F1;
}

#fcard{
    border:1px solid #F1F1F1;
    background-color: #F1F1F1;
}
/*a{
    color:orange !important;
}*/

body{
    font-family: Noto Sans, Arial, sans-serif;
}