#navbar{
    background-color:#FF9800;
    border-color:#FF9800
}

#row_breaks{
     border:0.5px solid #dbcbcb;
}

#fgrey{
    background-color: #F1F1F1;
}

#fcard{
    border:1px solid #F1F1F1;
    background-color: #F1F1F1;
}
a{
    color:orange;
}

body{
    font-family: Noto Sans, Arial, sans-serif;
}